body {
  margin: 0;
}
h1{text-decoration: underline;
  }
  #root{width: 90%;
    margin: 0 auto;
    border: 2px solid #e9e1e1;
    padding:0px 10px;
    background-color: #d1d193;}
.accodinggrid{background-color:#d9d989; padding:2em;box-shadow: 1px -1px 16px 2px #89ad62;}
.accodinggrid h1{ font-size:17px; color: #564803; font-family: Arial;}
.accodinggrid p{font-size: 16px; color: black;padding: 2px 25px;}
.innerGrid{display: flow-root;padding: 0px 25px;border:3px solid rgb(71, 15, 15); box-shadow:2px 1px 2px 1px #333;}


